.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.ts
contributing.md
.eslintrc.json
.test-environment/
.test-environment-tmp/
DESIGN-NOTES.md
.eslintignore

# In release builds, the extension will be bundled into `out/extension.js`. All the other files in 
# 'out' should therefore be ignored.
out
!out/extension.js
node_modules